
.vs/tetrisNG/v17/.wsuo
.vs/tetrisNG/v17/DocumentLayout.json
.vs/VSWorkspaceState.json
tetrisNG/.vs/tetrisNG/FileContentIndex/0916d99b-5a43-4fb1-b0ea-4b5290bb2445.vsidx
tetrisNG/tetrisNG.sln
tetrisNG/tetrisNG.pyproj
tetrisNG/__pycache__/tetrisNG_headers.cpython-312.pyc
tetrisNG/__pycache__/keycodes.cpython-312.pyc
tetrisNG/.vs/tetrisNG/v17/DocumentLayout.json
tetrisNG/.vs/tetrisNG/v17/.suo
tetrisNG/.vs/tetrisNG/FileContentIndex/e91934f2-d712-44bc-8ed3-d810a2034546.vsidx
tetrisNG/.vs/tetrisNG/FileContentIndex/3529a935-8f33-46da-af48-cb2f3d2e74e2.vsidx
tetrisNG/.vs/tetrisNG/FileContentIndex/27451b77-94f7-4b63-9edb-975b27320a80.vsidx
tetrisNG/.vs/tetrisNG/FileContentIndex/20435e52-42b8-4136-a7b1-c9cb2f36dabe.vsidx
*.vsidx
tetrisNG/__pycache__/settings.cpython-312.pyc
tetrisNG/__pycache__/main.cpython-312.pyc
tetrisNG/__pycache__/graphics.cpython-312.pyc
